$root: ".section-card";

#{$root} {
	display: grid;
	grid-template-columns: repeat(12, 1fr);

	&.imageLeft {
		#{$root} {
			&__image {
				width: 100%;
				height: 450px;
				background-size: cover;
				grid-column: 1/7;
			}

			&__copy {
				grid-column: 8/12;
			}
		}
	}

	&.imageRight {
		#{$root} {
			&__image {
				width: 100%;
				height: 450px;
				background-size: cover;
				grid-column: 7/13;
				grid-row: 1/2;
			}

			&__copy {
				grid-column: 2/6;
			}
		}
	}
}

@media (max-width: 800px) {
	#{$root} {
		&.mobileCenter {
			grid-template-rows: 1fr 1fr;
			text-align: center;

			#{$root} {
				&__image {
					grid-column: 1/13;
					grid-row: 1/2;
					height: 100%;
				}

				&__copy {
					grid-column: 2/12;
					grid-row: 2/3;
					margin-top: 2em;
					padding: 0;
				}
			}
		}
	}
}
